name: Full-Stack Component Pipeline
on: [ push ]

jobs:
  Backend-Build:
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/java-build-template.yml@main
    with:
      project_name: "E-Commerce-Backend"
      java-version: "21"
      pom_path: "backend/pom.xml"
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  Backend-CPA:
    needs: Backend-Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: "ABP: Finalize Docker Image"
        run: |
          cd backend
          mvn clean package -DskipTests
          docker build -t e-commerce-backend:${{ github.sha }} .

      - name: "CPA: Acceptance Test"
        run: |
          docker run -d -p 8080:8080 --name backend-cpa e-commerce-backend:${{ github.sha }}
          sleep 20
          curl -f http://localhost:8080/actuator/health || (docker logs backend-cpa && exit 1)
          echo "CPA Successful: Backend is operational."

  Frontend-Build:
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/node-build-template.yml@main
    with:
      project_name: "E-Commerce-Frontend"
      working_directory: "frontend"
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  Pipeline-Summary:
    needs: [ Backend-CPA, Frontend-Build ]
    if: always()
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
    with:
      project_name: "E-Commerce"
      component_name: "FULL-STACK"
      status: ${{ (needs.Backend-CPA.result == 'success' && needs.Frontend-Build.result == 'success') && 'SUCCESS' || 'FAILURE' }}
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}