name: Full-Stack Component Pipeline
on: [push]

jobs:
  # JOB 1: BACKEND COMPILATION
  Backend-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build Backend
        run: mvn -f backend/pom.xml compile

      - name: Notify Backend Failure
        if: failure()
        uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
        with:
          component_name: "BACKEND"
          status: "FAILURE"
        secrets:
          WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  # JOB 2: FRONTEND COMPILATION
  Frontend-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Build Frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Notify Frontend Failure
        if: failure()
        uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
        with:
          component_name: "FRONTEND"
          status: "FAILURE"
        secrets:
          WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  # JOB 3: SUMMARY SUCCESS
  Success-Notification:
    runs-on: ubuntu-latest
    needs: [Backend-Build, Frontend-Build]
    if: success()
    steps:
      - name: Notify Overall Success
        uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
        with:
          component_name: "FULL-STACK"
          status: "SUCCESS"
        secrets:
          WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}