name: Full-Stack Component Pipeline
on: [push]

jobs:
  Backend-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build Backend
        run: mvn -f backend/pom.xml compile

  Notify-Backend-Failure:
    needs: Backend-Build
    if: failure()
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
    with:
      component_name: "BACKEND"
      status: "FAILURE"
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  Frontend-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Build Frontend
        run: |
          cd frontend
          npm install
          npm run build

  Notify-Frontend-Failure:
    needs: Frontend-Build
    if: failure()
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
    with:
      component_name: "FRONTEND"
      status: "FAILURE"
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}

  Success-Notification:
    needs: [Backend-Build, Frontend-Build]
    if: success()
    uses: Bhuvaneshwaran-17/central-devops-tooling/.github/workflows/teams-notifier.yml@main
    with:
      component_name: "FULL-STACK"
      status: "SUCCESS"
    secrets:
      WEBHOOK_URL: ${{ secrets.TESTING_WEBHOOK }}